<form class="space-y-8 divide-y divide-gray-200" method="POST" {{#if post}} action="/dashboard/posts/{{ post.id }}?_method=PUT" {{else}} action="/dashboard/posts" {{/if}}>
  <div class="space-y-8 divide-y divide-gray-200">
    <div>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          {{ title }}
        </h3>
      </div>

      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-6">
          <label for="title" class="block text-sm font-medium text-gray-700">
            Title
          </label>
          <div class="mt-1">
            <input required type="text" name="title" id="title" autocomplete="title" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-sm" value="{{ post.title }}">
            {{#if errors.title}}
            <p class="text-sm text-red-500">{{ errors.title }}</p>
            {{/if}}
          </div>
        </div>

        <div class="sm:col-span-6">
          <label for="brief" class="block text-sm font-medium text-gray-700">
            Brief
          </label>
          <div class="mt-1">
            <textarea required id="brief" name="brief" rows="3" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border border-gray-300 rounded-sm">{{ post.brief }}</textarea>
          </div>
          {{#if errors.brief}}
          <p class="text-sm text-red-500">{{ errors.brief }}</p>
          {{/if}}
        </div>

        <div class="sm:col-span-6">
          <label for="category" class="block text-sm font-medium text-gray-700">
            Category
          </label>
          <div class="mt-1">
            <select required id="category" name="category" autocomplete="category" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-sm">
              <option value="">Select one category</option>
              {{#each categories}}
              <option {{#if (selectOption ../post.categoryId this.id) }} selected {{/if}} value="{{ this.id }}">{{ this.name }}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label for="content" class="block text-sm font-medium text-gray-700">
            Content
          </label>
          <div class="mt-1">
            <textarea id="content" name="content" rows="3" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border border-gray-300 rounded-sm">{{ post.content }}</textarea>
          </div>
          {{#if errors.content}}
          <p class="text-sm text-red-500">{{ errors.content }}</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <div class="pt-8">
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Extra information
      </h3>
    </div>

    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      <div class="sm:col-span-6">
        <label for="slug" class="block text-sm font-medium text-gray-700">
          Slug
        </label>
        <div class="mt-1">
          <input type="text" name="slug" id="slug" autocomplete="slug" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-sm" value="{{ post.slug }}">
        </div>
        <p class="mt-2 text-sm text-gray-500">Leave blank to generate automatically.</p>
      </div>

      <div class="sm:col-span-6">
        <fieldset>
          <legend class="text-base font-medium text-gray-900">
            Publishing
          </legend>
          <div class="mt-4 space-y-4">
            <div class="relative flex items-start">
              <div class="flex items-center h-5">
                <input {{#if post.publishedAt}} checked {{/if}} id="publish" name="publish" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
              </div>
              <div class="ml-3 text-sm">
                <label for="publish" class="font-medium text-gray-700">Immediately</label>
                <p class="text-gray-500">Publish this post immediately.</p>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <div class="flex justify-end">
      <a href="/dashboard/posts" class="bg-white py-2 px-4 border border-gray-300 rounded-sm shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        Cancel
      </a>
      <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        Save
      </button>
    </div>
  </div>
</form>
